<p>{{selectedTemple.name}}</p>
<p *ngIf="healthType"><strong>{{healthType}}:</strong> прошение о здравии</p>
<p *ngIf="deadType"><strong>{{deadType}}:</strong> прошение об упокоении</p>
<form [formGroup]="priceForm">
  <mat-form-field appearance="fill">
    <mat-label aria-label="price">Пожертвование</mat-label>
    <input matInput formControlName="price" placeholder="Пожертвование">
  </mat-form-field>
  <p><a class="custom-btn" href="javascript:void(0)" (click)="sendProposition()">
    Отправить прошение о молитве
  </a></p>

</form>
