<ng-container *ngIf="!order">
  <h2 class="text-center">{{title}}</h2>

  <div class="u-position-absolute decor-image--names"></div>
  <div class="u-position-absolute decor-image--tribes"></div>

  <div class="tabs d-flex d-md-none app-card--toggle">
    <button mat-raised-button color="warn" (click)="healthShowClick($event)">О здравии</button>
    <button mat-stroked-button color="primary" (click)="deadShowClick($event)">Об упокоении</button>
  </div>

  <div class="d-flex u-justify-content-center">
    <app-card [type]="true" (selectHealthEvent)="onSelectHealth($event)" class="type-health" #health></app-card>
    <app-card [type]="false" (selectDeadEvent)="onSelectDead($event)" class="type-dead" #dead></app-card>
  </div>

  <app-send-proposition
    *ngIf="selectedTemple && (deadType || healthType)"
    [selectedTemple]="selectedTemple"
    [deadType]="deadType"
    [healthType]="healthType"
    (submitProposition)="submitForm()"
    class="d-block text-center u-position-absolute"></app-send-proposition>
</ng-container>
<app-yandex-kassa [order]="order" *ngIf="order"></app-yandex-kassa>
