@import "../../assets/mixins";
@import "../../assets/variables";

mat-card {
  flex: 1;
  @include margin($top: 0, $bottom: 0, $left: 10px, $right: 10px);
}

app-send-proposition {
  @include margin($top: 50px);
  @media (min-width: $screen-min-sm) {
    @include margin($top: 130px);
    left: 50%;
    margin-left: -150px;
  }
}

h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
}

:host {
  padding-top: 50px;
}

app-card {
  background-size: cover;
  background: transparent url(~src/assets/img/health-bg.png) no-repeat top center;
  width: 335px;
  height: 830px;
  padding: 0 20px;

  &:first-child {
    @media (min-width: $screen-min-sm) {
      border-right: 1px solid white;
    }
  }

  &.type {
    &-dead {
      background-image: url("~src/assets/img/death-bg.png");
      display: none;
      @media (min-width: $screen-min-sm) {
        display: block;
      }
    }
  }
}

.decor-image {
  &--names {
    background-image: url("~src/assets/img/write-names.png");
    width: 281px;
    height: 148px;
    margin-top: 60px;
    margin-left: 35px;
    display: none;
    @media (min-width: $screen-min-sm) {
      display: block;
    }
  }

  &--tribes {
    background-image: url("~src/assets/img/select-tribe.png");
    width: 284px;
    height: 161px;
    right: 0;
    top: 690px;
    display: none;
    @media (min-width: $screen-min-sm) {
      display: block;
    }
  }
}

.app-card--toggle {
  justify-content: space-around;
  list-style: none;
  margin-bottom: 30px;


  > button {
    color: white;
    font-size: 18px;

    @media (min-width: $screen-min-sm) {
      font-size: 27px;
    }

    border-color: white;
    padding: 10px 20px;
  }
}
