<section class="d-flex" *ngIf="data">
  <div class="u-width-50">
    <label id="radio-group-temples">Храмы</label>
    <mat-radio-group
      aria-labelledby="radio-group-temples"
      class="radio-group">
      <mat-radio-button class="radio-button" *ngFor="let temple of temples" [value]="temple"
                        (click)="templeClickHandler(temple)">
        {{temple.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="u-width-50">
    <label id="radio-group-monasteries">Монастыри</label>
    <mat-radio-group
      aria-labelledby="radio-group-monasteries"
      class="radio-group">
      <mat-radio-button class="radio-button" *ngFor="let monastery of monasteries" [value]="monastery"
                        (click)="templeClickHandler(monastery)">
        {{monastery.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</section>
