@import "../../assets/variables";
section {
  overflow: auto;
  max-height: 660px;
  background-color: white;
  padding: 25px;
  border-radius: 20px;

  > div {
    &:first-child {
      border-right: 1px solid black;
      height: 100%;
      margin-right: 2%;
      padding-right: 2%;
    }
  }
}

label {
  color: #7e7e7e;
  font-size: 21px;
  @media (min-width: $screen-min-sm) {
    font-size: 30px;
  }

}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

