mat-form-field {
  padding-left: 55px;
  input {
  }
}

form {
  margin-top: 165px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 30px;

  mat-radio-button {
    margin: 10px;
  }
}


