<form [formGroup]="noteForm">
  <mat-form-field appearance="fill" *ngFor="let _ of numberArray; let i = index">
    <input matInput id="{{type}}-{{i}}" formControlName="{{type}}-{{i}}">
  </mat-form-field>
  <mat-radio-group aria-labelledby="Веберите тип прошения" formControlName="radio-group" (change)="onRadioCheck()">
    <mat-radio-button *ngFor="let val of radioGroup" [value]="val">
      {{val}}
    </mat-radio-button>
  </mat-radio-group>
</form>
