@import "../assets/variables";

.container {
  width: 80vw;
  max-width: 1280px;
  margin: auto;
}

header {
  background: url(~src/assets/img/mob_header-bg.jpg) no-repeat top center;
  background-size: contain;
  @media (min-width: $screen-min-sm) {
    background-image: url(~src/assets/img/header-bg.jpg);
    min-height: 1050px;
  }


  section {
    padding-top: 45vw;
    margin-bottom: 100px;
    @media (min-width: $screen-min-sm) {
      margin-bottom: inherit;
      padding-top: 25vw;
    }
  }
}

h1 {
  color: #c9842e;
  font-size: 7vw;
  line-height: 1.2;
  @media (min-width: $screen-min-sm) {
    font-size: 2vw;
  }
}

hr {
  margin-top: 20px;
  @media (min-width: $screen-min-sm) {
    width: 37%;

  }
  border: none;
  border-bottom: 1px solid #949494;
}

main {
  background: url(~src/assets/img/mob_main-bg.jpg) no-repeat top center;
  background-size: cover;
  @media (min-width: $screen-min-sm) {
    background-image: url(~src/assets/img/main-bg.jpg);
    background-size: unset;
    padding-bottom: 300px;
  }
}

footer {
  background: url(~src/assets/img/footer-bg.png) no-repeat top center;
  background-size: cover;
  height: 239px;
  margin-top: 50px;

}
