<header>
  <section class="container">
    <h1 [innerHTML]="title" class="text-center"></h1>
    <hr>
    <app-temples-list [templeData$]="templeData$" (selectItemEvent)="selectTemple($event)"></app-temples-list>
  </section>
</header>
<main>
  <app-write-a-name [selectedTemple]="selectedTemple" class="container d-block u-position-relative"></app-write-a-name>
</main>
<footer class="d-none d-md-flex"></footer>
