<h2 class="text-center">{{title}}</h2>

<div class="d-md-flex mb-15 icon-card" *ngIf="templeData$">
  <div *ngFor="let temple of topTemples" (click)="onTempleSelect(temple)">
    <img alt="{{temple.name}}" src="{{temple.image}}">
    <p>{{temple.name}}</p>
  </div>
</div>

<p class="text-center"><a class="show-all-templates--link custom-btn" (click)="openDialog()">{{showAllTemples}}</a></p>
