@import "../../assets/mixins";
@import "../../assets/utilities";
@import "../../assets/variables";

.icon-card {
  justify-content: space-between;
  @include margin($top: 40px, $bottom: 50px);
  @media (min-width: $screen-min-sm) {
    @include margin($top: 40px, $bottom: 130px);
  }
  cursor: pointer;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    > img {
      width: 100px;
      height: 100px;
      @media (min-width: $screen-min-sm) {
        width: 100%;
        height: 100%;
      }
    }

    &:nth-child(n+4) {
      display: none;
    }

    @media (min-width: $screen-min-sm) {
      width: 140px;
      height: 140px;
      display: block;
      &:nth-child(n+4) {
        display: block;
        margin-bottom: 40px;
      }


    }
    position: relative;

    &:before {
      content: url(~src/assets/img/image-shadow.png);
      position: absolute;
      bottom: -20px;
      left: -25px;
      @media (min-width: $screen-min-sm) {
        left: -5px;
        bottom: -30px;
      }
    }

    img {
      max-width: 100%;
      border-radius: 50%;
      padding: 5px;
      background: rgb(107, 172, 196);
      background: linear-gradient(90deg, rgba(107, 172, 196, 1) 0%, rgba(218, 234, 213, 1) 50%, rgba(240, 240, 192, 1) 100%);

    }

    p {
      text-align: center;
      font-weight: 500;
      margin-top: 10px;
      font-size: 3vw;
      margin-left: 30px;

      @media (min-width: $screen-min-sm) {
        font-size: inherit;
        margin: inherit;
      }
    }
  }
}

h2 {
  margin-top: 30px;
  color: #7e7e7e;
  font-size: 5vw;
  font-weight: 400;
  @media (min-width: $screen-min-sm) {
    font-size: 2vw;
  }
}
