@import "variables";

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: $screen-min-sm) {
  .d-md-flex {
    display: flex !important;
  }

  .d-md-none {
    display: none !important;
  }

}

.u-position-absolute {
  position: absolute !important;
}

.u-position-relative {
  position: relative !important;
}

.text-center {
  text-align: center;
}

.u-width-50 {
  width: 48%;
}

.u-justify-content-center {
  justify-content: center;
}
