/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #474646
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "assets/variables";
@import "assets/utilities";
@import "assets/mixins";

mat-dialog-container.mat-dialog-container {
  background: rgb(132, 192, 213);
  background: linear-gradient(90deg, rgba(132, 192, 213, 1) 0%, rgba(236, 239, 194, 1) 50%, rgba(209, 230, 212, 1) 100%);
  border-radius: 20px;
  padding: 10px;
}

label.mat-radio-label {
  white-space: normal;
}

mat-radio-button {
  .mat-radio-container {
    width: 20px;
    height: 20px;


    @media (min-width: $screen-min-sm) {
      width: 40px;
      height: 40px;
    }
  }

  .mat-radio-label-content {
    font-size: 12px;
    line-height: 16px;
    @media (min-width: $screen-min-sm) {
      font-size: initial;
    }
  }

  .mat-radio-outer-circle {
    border-color: #fecb32;
    background-color: white;
    width: 20px;
    height: 20px;

    @media (min-width: $screen-min-sm) {

      width: 40px;
      height: 40px;
    }
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #fecb32;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ff7a40;
}

mat-form-field {
  &.mat-form-field-appearance-fill {
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-flex {
      background: none;
      border-radius: 0;
      padding: 0;
      border: none;
    }

    .mat-form-field-infix {
      padding: 0;
      width: 225px;
      border: none;
      border-bottom: 2px solid #898989;
      margin-bottom: 10px;
      text-align: center;
      font-size: 26px;
      color: black;
      line-height: 1;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}


app-card {
  mat-radio-button {
    .mat-radio-outer-circle, &.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-container {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }

    .mat-radio-label-content {
      color: white;
      font-size: 30px;
    }
  }
}


.custom-btn {
  cursor: pointer;
  background-color: #3997c1;
  color: white;
  padding: 20px;
  border-radius: 7px;
  font-size: 7vw;
  display: block;
  line-height: 1;
  border: none;
  text-decoration: none;

  @media (min-width: $screen-min-sm) {
    color: #2e81d4;
    background-color: unset;
    padding: unset;
    border-radius: unset;
    display: unset;
    font-size: initial;
    border-bottom: 1px solid;
  }
}


.cdk-overlay-pane {
  max-width: 100% !important;
  @media (min-width: $screen-min-sm) {
    max-width: 80vw !important;
  }
}
